/*=================================================================*/
/*                     BOOTSTRAP ELEMENTS
/*=================================================================*/
.breadcrumb {
    font-size: 14px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb>.active {
    color: #9c9c9c;
}

/* === Progress Bar === */
.progress {
    height: 5px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: #e9e9e9;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 5px;
    color: #fff;
    text-align: center;
    background-color: $colorpurple;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

/* === Form Control === */
.form-control {
    display: block;
    border-radius: 0;
    width: 100%;
    height: 50px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #333;
    background-color: #FFF;
    background-image: none;
    border: solid 1px #ECECEC;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: $colorpurple;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 30px;
}

.input-group-addon {
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

/* === Alert === */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: 0;
    right: 0;
    color: inherit;
}

/* === Pagination === */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}

.pagination > li:first-child > a,.pagination > li:first-child > span {
    margin-left: 0;
    border-radius: 50%;
}

.pagination > li:last-child > a,.pagination > li:last-child > span {
    border-radius: 50%;
}

.pagination > .active > a,.pagination > .active > a:focus,.pagination > .active > a:hover,.pagination > .active > span,.pagination > .active > span:focus,.pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: $colordefault;
    border-color: transparent;
}

.pagination > li > a,.pagination > li > span {
    position: relative;
    float: left;
    font-weight: 400;
    height: 46px;
    line-height: 32px !important;
    margin-left: 11px;
    line-height: 1.42857143;
    color: #1a1a1a;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #EEE;
    border-radius: 50%;
    width: 46px;
    text-align: center;
    @include transition(.3s);
}

.pagination > li > a:focus,.pagination > li > a:hover,.pagination > li > span:focus,.pagination > li > span:hover {
    z-index: 2;
    color: #FFF;
    background-color: $colordefault;
    border-color: transparent;
}

/*=================================================================*/
/*                      THEME ELEMENTS
/*=================================================================*/
/* === Timeline === */
.timeline {
    position: relative;
}

.timeline .timeline-container {
    padding-left: 50px;
    margin-bottom: 100px;
    position: relative;
    background-color: inherit;
    width: 100%;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.timeline .timeline-container::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    left: 0;
    background-color: $colorpurple;
    top: 7px;
    z-index: 1;
}

.timeline .content {
    position: relative;
}

.timeline .content .time {
    color: #999;
    font-size: 14px;
}

.timeline .content p {
    margin: 0;
}

.timeline span.line {
    position: absolute;
    width: 1px;
    background-color: #ececec;
    top: 7px;
    bottom: 0;
    left: 4px;
}

/* === Go to Top === */
#return-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background: $colordefault;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: none;
    z-index: 4;
    @include transition(.3s);
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 13px;
    top: 8px;
    font-size: 16px;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    @include transition(.1s);
}

#return-to-top:hover {
    background: $colorpurple;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}