body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-53xl: 72px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-13xl: 32px;
  --font-size-lg: 18px;
  --font-size-23xl: 42px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-17xl: 36px;
  --font-size-sm: 14px;

  /* Colors */
  --white: #fff;
  --primary: #4c40f7;
  --color-gray-100: #848484;
  --headline: #111029;
  --accent: #de5b6d;
  --color-darkgray: #9f9fa9;
  --paragraph: #555;
  --color-dimgray-100: rgba(85, 85, 85, 0.5);
  --color-gainsboro: #e4e4e4;
  --color-goldenrod: #ffc047;

  /* border radiuses */
  --br-81xl: 100px;
  --br-xl: 20px;
  --br-11xl: 30px;
}
